<div class="payment">
    <h1>Mokėti už prekes</h1>
    <p>Viso: {{total}}€</p>
    <br>
    <p>Įveskite nuolaidos kodą</p>
    <input [(ngModel)]="code"><br>
    <button mat-flat-button color="primary" (click)="applyCode()" style="margin-top: 15px;">Taikyti</button>
    <br><br><br>
    
    <p>Pasirinkite mokėjimo būdą:</p>
    <mat-radio-group [(ngModel)]="paymentMethod" class="example-radio-group">
        <mat-radio-button class="example-radio-button" value="Balansu">Balansu</mat-radio-button>
        <mat-radio-button class="example-radio-button" value="Banku">Banku</mat-radio-button>
    </mat-radio-group>

    <button mat-flat-button color="primary" (click)="pay()" style="margin-top: 15px;">Mokėti</button>
</div>