.payment{
    border: 2px solid black;
    width: 40%;
    margin: auto;
    padding: 15px;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }