<div class="group" *ngIf="show">
  <mat-table class="groups-table mat-elevation-z8" [dataSource]="speakerData">

    <ng-container matColumnDef="kaina">
      <mat-header-cell *matHeaderCellDef>Kaina</mat-header-cell>

      <mat-cell class="name-cell" *matCellDef="let speaker">
        {{
          speaker.kaina
        }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="pavadinimas">
      <mat-header-cell *matHeaderCellDef>Pavadinimas</mat-header-cell>

      <mat-cell class="description-cell" *matCellDef="let speaker">
        {{
          speaker.pavadinimas
        }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="gamintojas">
      <mat-header-cell *matHeaderCellDef>Gamintojas</mat-header-cell>

      <mat-cell class="description-cell" *matCellDef="let speaker">
        {{
          speaker.gamintojas
        }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="turis">
      <mat-header-cell *matHeaderCellDef>Tūris</mat-header-cell>

      <mat-cell class="description-cell" *matCellDef="let speaker">
        {{
          speaker.skersmuo
        }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="veiksmai">
      <mat-header-cell *matHeaderCellDef>Veiksmai</mat-header-cell>

      <mat-cell class="actions-cell" *matCellDef="let speaker">
        <button mat-icon-button (click)="openEditSpeakerDialog(speaker)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="openDeleteSpeakerDialog(speaker)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <br />
  <button mat-flat-button color="primary" (click)="openCreateSpeakerDialog()">
    Sukurti kolonėles skelbimą
  </button>
</div>

<div>
  <div class="center">
    <button mat-flat-button color="primary" (click)="openCreateSpeakerDialog()">
      Sukurti kolonėlės skelbimą
    </button>
  </div>
  <div class="list" *ngFor="let w of speakerData">
    <h2>{{w.pavadinimas}}</h2>
    <div class="details">
      <p>Skersmuo: {{w.skersmuo}}</p>
      <p>Gamintojas: {{w.gamintojas}}</p>
      <p><b>Kaina: {{w.kaina}} €</b></p>
    </div>
    <div class="actions">
      <button mat-icon-button (click)="openEditSpeakerDialog(w)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="openDeleteSpeakerDialog(w)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
