<div>
  <div class="center">
    <button mat-flat-button color="primary" (click)="openCreateSpeakerDialog()">
      Sukurti kolonėlės skelbimą
    </button>
  </div>
  <div class="list" *ngFor="let w of speakerData">
    <h2>{{w.pavadinimas}}</h2>
    <div class="details">
      <p>Skersmuo: {{w.skersmuo}}</p>
      <p>Gamintojas: {{w.gamintojas}}</p>
      <p><b>Kaina: {{w.kaina}} €</b></p>
    </div>
    <div class="actions">
      <button mat-icon-button (click)="openEditSpeakerDialog(w)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="openDeleteSpeakerDialog(w)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
