<div>
    <div class="center">
        <button mat-flat-button color="primary" (click)="openCreateNuolaidaDialog()">
      Sukurti nuolaidą
    </button>
    </div>
    <div class="list" *ngFor="let w of nuolaidaData">
        <h2>Nuolaida: {{w.id}}</h2>
        <div class="details">
            <p>Procentai: {{w.procentai}}</p>
            <p>Kodas: {{w.kodas}}</p>
        </div>
        <div class="actions">
            <button mat-icon-button (click)="openEditNuolaidaDialog(w)">
        <mat-icon>edit</mat-icon>
      </button>
            <button mat-icon-button (click)="openDeleteNuolaidaDialog(w)">
        <mat-icon>delete</mat-icon>
      </button>
        </div>
    </div>
</div>
