<div class="group">
    <mat-table class="groups-table mat-elevation-z8" [dataSource]="wheelsData">
  
      <ng-container matColumnDef="kaina">
        <mat-header-cell *matHeaderCellDef>Kaina</mat-header-cell>
  
        <mat-cell class="name-cell" *matCellDef="let wheels">{{
          wheels.kaina
          }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="pavadinimas">
        <mat-header-cell *matHeaderCellDef>Pavadinimas</mat-header-cell>
  
        <mat-cell class="description-cell" *matCellDef="let wheels">{{
          wheels.pavadinimas
          }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="dydis">
        <mat-header-cell *matHeaderCellDef>Dydis</mat-header-cell>
  
        <mat-cell class="description-cell" *matCellDef="let wheels">{{
          wheels.dydis
          }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="plotis">
        <mat-header-cell *matHeaderCellDef>Plotis</mat-header-cell>
  
        <mat-cell class="description-cell" *matCellDef="let wheels">{{
          wheels.plotis
          }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="gamintojas">
        <mat-header-cell *matHeaderCellDef>Gamintojas</mat-header-cell>
  
        <mat-cell class="description-cell" *matCellDef="let wheels">{{
          wheels.gamintojas
          }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="veiksmai">
        <mat-header-cell *matHeaderCellDef>Veiksmai</mat-header-cell>
  
        <mat-cell class="actions-cell" *matCellDef="let wheels">
          <button mat-icon-button (click)="openEditWheelsDialog(wheels)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="openDeleteWheelsDialog(wheels)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></mat-row>
    </mat-table>
    <br />
    <button mat-flat-button color="primary" (click)="openCreateWheelsDialog()">
        Sukurti ratų skelbimą
    </button>
</div>
