<div>
  <div class="center">
    <button mat-flat-button color="primary" (click)="openCreateEngineDialog()">
      Sukurti variklio skelbimą
    </button>
  </div>
  <div class="list" *ngFor="let w of engineData">
    <h2>{{w.pavadinimas}}</h2>
    <div class="details">
      <p>Tūris: {{w.turis}}</p>
      <p>Kuro tipas: {{w.kuroTipas}}</p>
      <p>Gamintojas: {{w.gamintojas}}</p>
      <p><b>Kaina: {{w.kaina}} €</b></p>
    </div>
    <div class="actions">
      <button mat-icon-button (click)="openEditEngineDialog(w)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="openDeleteEngineDialog(w)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
