<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/']">Šrotas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
                <ul class="navbar-nav flex-grow">
                    <ng-container *ngIf="currentUser == 'Seller'">
                        <li class="nav-item"><a class="nav-link text-dark">Sveiki, {{seller.slapyvardis}}</a></li>
                        <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
                            <a class="nav-link text-dark" [routerLink]="['/Automobiliai']">Automobiliai</a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
                            <a class="nav-link text-dark" [routerLink]="['/Ratai']">Ratai</a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
                            <a class="nav-link text-dark" [routerLink]="['/Varikliai']">Varikliai</a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
                            <a class="nav-link text-dark" [routerLink]="['/Koloneles']">Koloneles</a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
                            <a class="nav-link text-dark" [routerLink]="['/Nuolaidos']">Nuolaidos</a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
                            <a class="nav-link text-dark" [routerLink]="['/PavaruDezes']">PavaruDezes</a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
                            <a class="nav-link text-dark" [routerLink]="['/Kapotai']">Kapotai</a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
                            <a class="nav-link text-dark" [routerLink]="['/Durys']">Durys</a>
                        </li>
                    </ng-container>
                    <ng-container *ngIf="currentUser == 'Buyer'">
                        <li class="nav-item"><a class="nav-link text-dark">Sveiki, {{buyer.slapyvardis}}</a></li>
                        <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
                            <a class="nav-link text-dark" [routerLink]="['/Automobiliai']">Automobiliai</a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
                            <a class="nav-link text-dark" [routerLink]="['/Dalys']">Dalys</a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
                            <a class="nav-link text-dark" [routerLink]="['/Krepselis']">Krepšelis</a>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </nav>
</header>