<div>
    <h1 style="text-align: center;">Automobiliu skelbimai</h1>
    <div class="center" *ngIf="currentUser == 'Seller'">
      <button mat-flat-button color="primary" (click)="openCreateCarDialog()">
        Sukurti automobilio skelbimą
      </button>
    </div>
    <div class="center" *ngIf="currentUser == 'Buyer'">
      <button mat-flat-button color="primary" (click)="switchSuggestions()">
        Rekomendacijos
      </button>
    </div>
    <div class="list" *ngFor="let w of carData; let i = index;">
      <h2>{{w.gamintojas}} {{w.modelis}}</h2>
      <div class="details">
        <p>Rida: {{w.rida}}</p>
        <p>Metai: {{w.pagaminimoMetai}}</p>
        <p>Kuro tipas: {{w.kuroTipas}}</p>
        <p>Spalva: {{w.spalva}}</p>
        <p><b>Kaina: {{w.kaina}} €</b></p>
      </div>

      <ng-container *ngIf="suggestions">
        <p>Dalių pasiūlymai</p>
      <div class="part" *ngIf="!w.turiRatus">
        <p><b>Ratai</b></p>
        <p>{{wheels[i].suggestedWheels.pavadinimas}}</p>
        <p>Dydis: {{wheels[i].suggestedWheels.dydis}}</p>
        <p>Plotis: {{wheels[i].suggestedWheels.plotis}}</p>
      </div>

      <div class="part" *ngIf="!w.turiVarikli">
        <p><b>Variklis</b></p>
        <p>{{engines[i].suggestedEngine.pavadinimas}}</p>
        <p>Tūris: {{engines[i].suggestedEngine.turis}}</p>
        <p>Kuro tipas: {{engines[i].suggestedEngine.kuroTipas}}</p>
      </div>

      <div class="part" *ngIf="!w.turiPavaruDeze">
        <p><b>Pavarų dėžė</b></p>
        <p>{{gearboxes[i].suggestedGearbox.pavadinimas}}</p>
        <p>Tipas: {{gearboxes[i].suggestedGearbox.tipas}}</p>
      </div>

      <div class="part" *ngIf="!w.turiKoloneles">
        <p><b>Kolonėlės</b></p>
        <p>{{speakers[i].suggestedSpeakers.pavadinimas}}</p>
      </div>

      <div class="part" *ngIf="!w.turiKapota">
        <p><b>Kapotas</b></p>
        <p>{{hoods[i].suggestedHood.pavadinimas}}</p>
      </div>

      <div class="part" *ngIf="!w.turiDuris">
        <p><b>Durys</b></p>
        <p>{{doors[i].suggestedDoors.pavadinimas}}</p>
      </div>
      </ng-container>
      
      <div class="actions" *ngIf="currentUser == 'Seller'">
        <button mat-icon-button (click)="openEditCarDialog(w)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="openDeleteCarDialog(w)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="actions" *ngIf="currentUser == 'Buyer'">
        <button mat-icon-button (click)="addCarToCart(w)">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>
