.full-width-table {
    width: 100%;
  }
  
  .group {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .groups-table {
    min-height: 360px;
    margin-top: 10px;
  }

.list {
  position: relative;
  margin: 10px auto;
  border-radius: 15px;
  border: 3px solid black;
  max-width: 300px;
  padding: 10px;
}

.details {
  padding-left: 20px;
}

.actions {
  position: absolute;
  left: 200px;
  top: 150px;
}

.center {
  margin: auto;
  width: 170px;
}
