<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content [formGroup]="form">
        
        <label>Procentai</label><br />
        <input placeholder="Procentai" formControlName="procentai" />
        <br /><br />

        <label>Kodas</label><br />
        <input placeholder="Kodas" formControlName="kodas" />
        <br /><br />

    <p style="color:red;" *ngIf="notCorrect">Neteisingi duomenys!</p>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button (click)="close()">Close</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>