<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content [formGroup]="form">

    <label>Kaina</label><br />
    <input placeholder="Kaina" formControlName="kaina" />
    <br /><br />

    <label>Pavadinimas</label><br />
    <input placeholder="Pavadinimas" formControlName="pavadinimas" />
    <br /><br />

    <label>Gamintojas</label><br />
    <input placeholder="Gamintojas" formControlName="gamintojas" />
    <br /><br />

    <label>Skersmuo</label><br />
    <input placeholder="Skersmuo" formControlName="skersmuo" />
    <br /><br />

  <p style="color:red;" *ngIf="notCorrect">Neteisingi duomenys!</p>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()">Close</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>
