<div>
  <div class="center">
    <button mat-flat-button color="primary" (click)="openCreatePavaruDezeDialog()">
      Sukurti pavarų dėžės skelbimą
    </button>
  </div>
  <div class="list" *ngFor="let w of pavaruDezeData">
    <h2>{{w.pavadinimas}}</h2>
    <div class="details">
      <p><b>Kaina: {{w.kaina}} €</b></p>
      <p>Gamintojas: {{w.gamintojas}}</p>
      <p>Tipas: {{w.tipas}}</p>
    </div>
    <div class="actions">
      <button mat-icon-button (click)="openEditPavaruDezeDialog(w)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="openDeletePavaruDezeDialog(w)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
