<div>
  <div class="center">
    <h2>Durys</h2>
  </div>
  <div class="center" *ngIf="currentUser == 'Seller'">
    <button mat-flat-button color="primary" (click)="openCreateDoorDialog()">
      Sukurti durų skelbimą
    </button>
  </div>
  <div class="list" *ngFor="let w of doorData">
    <h2>{{w.pavadinimas}}</h2>
    <div class="details">
      <p>Modelis: {{w.modelis}}</p>
      <p>Pagaminimo metai: {{w.pagaminimoMetai}}</p>
      <p>Gamintojas: {{w.gamintojas}}</p>
      <p>Spalva: {{w.spalva}}</p>
      <p><b>Kaina: {{w.kaina}} €</b></p>
    </div>
    <div class="actions" *ngIf="currentUser == 'Seller'">
      <button mat-icon-button (click)="openEditDoorDialog(w)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="openDeleteDoorDialog(w)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div class="actions" *ngIf="currentUser == 'Buyer'">
      <button mat-icon-button (click)="addToCart(w)">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</div>
